* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Nunito Sans, Arial, Helvetica, sans-serif;
}

.container {
    max-width: 1280px;
    margin: auto;
    height: 100%;
}

.header {
    height: 80px;
    padding: 23.5px 20px 23.5px 20px;

    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.06);
    background: var(--colors-white, rgba(255, 255, 255, 1));
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.header__title {
    color: rgba(17, 21, 23, 1);
    font-size: 24px;
    font-weight: 800;
    line-height: 137.5%;
    letter-spacing: 0px;
    text-align: left;
}

.header__theme {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    border: none;
    background-color: rgba(255, 255, 255, 1);
}

.header__mode-text {
    color: rgba(17, 21, 23, 1);
    font-size: 16px;
    font-weight: 600;
    line-height: 200%;
    letter-spacing: 0px;
    text-align: left;
}

.country {
    margin-bottom: 50px;
}

.country__back {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    padding: 10px 30px;
    background: #fff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    margin: 60px 0;
}

.country__back-text {
    color: var(--colors-grey-950, rgba(17, 21, 23, 1));
    font-size: 16px;
    font-weight: 300;
    line-height: 200%;
    letter-spacing: 0px;
    text-align: left;
}

.country__content {
    display: flex;
    gap: 120px;
    align-items: center;
}

.country__flag-img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.country__flag {
    margin-left: 10px;
    margin-right: 10px;
}

.country__name {
    font-size: 32px;
    margin-bottom: 24px;

    color: var(--colors-grey-950, rgba(17, 21, 23, 1));
    font-size: 32px;
    font-weight: 800;
    line-height: 137.5%;
    letter-spacing: 0px;
    text-align: left;
}

.country__details {
    display: flex;
    gap: 80px;
    margin-bottom: 40px;
}

.country__list {
    list-style: none;
    padding: 0;
}

.country__item {
    margin-bottom: 10px;
}

.country__label {
    color: var(--colors-grey-950, rgba(17, 21, 23, 1));
    font-size: 16px;
    font-weight: 800;
    line-height: 32px;
    letter-spacing: 0px;
    text-align: left;
}

.country__value {
    color: var(--colors-grey-950, rgba(17, 21, 23, 1));
    font-size: 16px;
    font-weight: 300;
    line-height: 32px;
    letter-spacing: 0px;
    text-align: left;
}

.country__borders {
    display: flex;
    align-items: center;
    gap: 16px;
    flex-wrap: wrap;
}

.country__border-list {
    display: flex;
    gap: 10px;
}

.country__border-item {
    padding: 6px 20px;
    background: #fff;
    border-radius: 4px;
    text-decoration: none;

    color: var(--colors-grey-950, rgba(17, 21, 23, 1));
    font-size: 14px;
    font-weight: 300;
    line-height: 225%;
    letter-spacing: 0px;
    text-align: left;
}


@media (max-width: 768px) {
    .container {
        max-width: 688px;
    }

    .header__title {
        font-size: 14px;
        line-height: 20px;
    }

    .header__mode-text {
        font-size: 12px;
        line-height: 135%;
        letter-spacing: 0px;
    }

    .header__mode-icon img {
        width: 12px;
        height: 12px;
    }

    .country__content {
        flex-direction: column;
        justify-content: center;
        flex-wrap: wrap;
    }

    .country__flag {
        margin-bottom: -100px;
    }
}

@media (max-width: 375px) {
    .container {
        max-width: 343px;
    }

    .country__content {
        flex-wrap: nowrap;
    }

    .country__flag {
        margin-bottom: -50px;
        width: 100%;
    }

    .country__info {
        padding-left: 25px;
        padding-right: 25px;
    }

    .country__details {
        flex-direction: column;
        justify-content: start;
        gap: 32px;
    }
}